* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
/* HEADER */
#board-header {
    position: fixed;
    width: 100%;
    height: 5vh;
    background-color: rgb(63, 92, 100);
    display: flex;
    z-index: 10;
    color: white;
}
#board-header div {
    margin: auto;
}
#top-bar-health {
    font-size: 20px;
}
#relic-container {
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#top-bar-aether {
    font-size: 20px;
    display: flex;
    align-items: center;
}
.relic-img {
    width: 48px;
    height: 48px;
    margin-top: -2px;
}
#beginning-screen-container {
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background-image: url("imgs/start-screen2.jpg");
    opacity: .7;
    color: white;
    font-weight: bolder;
    background-size: cover;
}
#beginning-screen-container h1 {
    font-size: 80px;
}
#start-screen-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("imgs/start-screen3.jpg");
    background-size: cover;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
#start-screen-container h1 {
    margin: 4rem;
    font-size: 120px;
    text-decoration:dashed;
}
#start-screen-container h3 {
    margin: 3rem;
    cursor: pointer;
    font-size: 60px;
}
#start-game:hover {
    color:rgb(26, 111, 150);
}
#tutorial:hover {
    color: rgb(253, 253, 253);
}
#options:hover {
    color: #451b04;
}
#quit-game:hover {
    color: #74ccf4;
}
#start-screen-container div {
    width: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow, .arrow-reverse {
    width: 150px;
    display: none;
}
.arrow-reverse {
    transform: scaleX(-1);
}
#options-container, #tutorial-container {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    align-items: center;
    justify-content: center;
}
#options-screen, #tutorial-screen {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgb(140, 161, 141), rgb(40, 56, 36));
}
#options-screen button {
    margin-top: 50px;
    width: 400px;
    padding: 15px;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 12px;
    box-shadow: 5px 5px 10px black;
    border: 2px solid #202221;
    background-color:#1f2e21;
    color: white;
    font-weight: bold;
    transition-duration: .1s;
}
#options-screen button:hover {
    background-color: #37513f;
    transform: translateY(2px);
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}
#options-screen button:active {
    padding-top: 12px;
}
#options-screen h3 {
    margin-top: 2rem;
}
#options-screen input {
    width: 40%;
}
#death-screen-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 12;
}
#death-screen {
    width: 75%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#death-screen h1 {
    color: #3a0000;
    padding-bottom: 40px;
}
#death-screen div {
    width: 300px;
}
#death-screen p, #death-screen span {
    margin: 15px;
    font-size: 20px;
    color: white;
}
#death-screen p {
    width: 230px;
    text-align: left;
}
#death-screen span {
    text-align: right;
}
#death-screen button {
    margin-top: 50px;
    width: 400px;
    padding: 15px;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 12px;
    box-shadow: 5px 5px 10px black;
    border: 2px solid #202221;
    background-color:#1f2e21;
    color: white;
    font-weight: bold;
    transition-duration: .1s;
}
#death-screen button:hover {
    background-color: #37513f;
    transform: translateY(2px);
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}
/* MAP */
#map {
    width: 100%;
    height: 200vh;
    background-image: url("imgs/meadow-path2.jpg");
    background-size: cover;
    display: block;
}
.locations {
    display: flex;
    width: 100%;
    height: 17vh;
}
.location-tiles {
    border: 3px solid black;
    width: 3rem;
    height: 3rem;
    margin: auto;
    background-color:antiquewhite;
}
#location1-tiles1 {
    margin-left: 18%;
}
#location1-tiles2 {
    margin-left: 35%;
}
#location2-tiles2 {
    margin-right: 30%;
}
#location2-tiles3 {
    margin-right: 10%;
}
#location3-tiles1 {
    margin-left: 9rem;
}
#location3-tiles2 {
    margin-left: 9rem;
}
#location4-tiles3 {
    margin-left: 30%;
}
#location5-tiles1 {
    margin-left: 20%;
}
#location5-tiles2 {
    margin-right: 13%;
}
#location5-tiles3 {
    margin-right: 20%;
}
#location4 {
    width: 90%;
    margin: auto;
}
#location7 {
    width: 60%;
    margin: auto;
}
#location11 {
    height: 26vh
}
/* INDICATE WHERE YOU CAN GO NEXT */
@keyframes glow {
    from {
      box-shadow: 0 0 10px -10px red;
    }
    to {
      box-shadow: 0 0 10px 10px red;
    }
  }
@keyframes upgraded {
    from {
      box-shadow: 0 0 15px -15px rgb(186, 79, 248);
    }
    to {
      box-shadow: 0 0 15px 15px rgb(121, 1, 190);
    }
  }
.glow {
    animation: glow 1s infinite alternate;
}
.upgraded {
    animation: upgraded 2s infinite alternate;
}

/* IMG PLACEMENT images by icons8.com*/
.normal-monster-img {
    margin-left: -3px;
    margin-top: -3px;
}
.hard-monster-img {
    width: 48px;
    margin-left: -3px;
    margin-top: -3px;
}
.oasis-img {
    width: 45px;
    margin-left: -3px;
    margin-top: -3px;
}
.blacksmith-img {
    width: 43px;
    margin-left: -1px;
    margin-top: -1px;
}
.gold-img {
    width: 40px;
    margin-left: 1px;
    margin-top: 1px;
}
.merchant-img {
    width: 45px;
    margin-left: -.093rem;
}
.treasure-img {
    width: 42px;
}
.exclamation-img {
    width: 40px;
    margin-top: .2px;
    margin-left: 1.2px;
}
.boss-monster-img {
    width: 48px;
    margin-left: -3px;
    margin-top: -3px;
}
/*SHOP SECTION*/
#shop-container {
    width: 100%;
    height: 100vh;
    background-image: url("imgs/shop-background-night.jpg");
    background-position: 90%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: none;
}
#cards-and-relics-container {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    width: 100%;
    height: 65%;
}
#shop-cards-div {
    width: 65rem;
    display: flex;
    flex-wrap: wrap;
}
#shop-relic-container {
    margin-top: -3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 40rem;
    height: 20rem;
}
.shop-relic-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.shop-relic-img {
    width: 120px;
    height: 120px;
}
.shop-relic-img-text, .relic-img-text, .player-img-text, .burn-img-debuff, .frostbite-img-debuff, .windswept-img-debuff, .attack-img-text,
.block-img-text, .heal-img-text, .burn-img-text, .regen-img-text, .blood-img-text, .thorns-img-text, .frostbite-img-text, .windswept-img-text {
    position: absolute;
    margin-top: 12rem;
    top: -20%;
    margin-left: -15rem;
    display: none;
    width: 25rem;
    height: 10rem;
    background-image: linear-gradient(rgb(140, 161, 141), rgb(40, 56, 36));
    z-index: 12;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px double rgb(81, 81, 81);
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
}
.shop-relic-img-text, .relic-img-text {
    top: 0%;
    margin-left: 0px;
}
.player-frostbite-img:hover + div {
    display: flex;
}
.player-windswept-img:hover + div {
    display: flex;
}
.relic-img-text-h4, .debuff-img-text-h4 {
    font-size: 1.3rem;
}
.relic-img-text-p, .debuff-img-text-p {
    margin: .8rem .5rem ;
    font-size: 1.2rem;
}
#leave-shop-button {
    width: 25rem;
    height: 6rem;
    border-radius: 10%;
    margin-top: 7rem;
    margin-left: 4rem;
    border: 5px double rgb(127, 128, 131);
    background-color:rgb(48, 48, 49);
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition-duration: .1s;
}
.shop-cards-cost-div {
    width: 20%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.shop-aether {
    width: 5rem;;
    height: 5rem;
    margin-top: -.8em;
}
.shop-aether-cost {
    color: white;
    font-weight: bolder;
    font-size: 1.8rem;
    margin-top: -.5rem;
    text-align: center;
}
#shopkeeper {
    margin-top: -8.5rem;
    margin-left: 35rem;
    width: 400px;
    height: 400px;
}
/*BLACKSMITH SECTION*/
#blacksmith-container {
    width: 100%;
    height: 100vh;
    background-image: url("imgs/blacksmith-background2.jpg");
    background-size: cover;
    background-position: 90%;
    position: fixed;
    overflow: scroll;
    display: none;
}
#blacksmith-cards-list {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 60px;
    flex-wrap: wrap;
    align-items: start;
    justify-content: flex-start;
}
.blacksmith-upgrade-pair {
    width: 10%;
}
#blacksmith-dwarf-div {
    width: 28rem;
    position: absolute;
    margin-left: 890px;
    margin-top: 280px;
}
#blacksmith-text {
    position: absolute;
    padding: 1.5rem;
    background-color: rgb(253, 253, 227);
    font-size: 30px;
    box-shadow: 0 0 10px 10px rgb(217, 113, 243);
    animation: speech-bubble 3s ease-in-out infinite;
    border-radius: 15px;
    z-index: 8;
}
#blacksmith-text:hover {
    background-color: rgb(249, 253, 213);
    animation: speech-bubble 3s;
}
#blacksmith-text:hover .dialogue {
    border-top: 6rem solid rgb(249, 253, 213);
}
#blacksmith-text:active {
    background-color: rgb(249, 253, 213);
    transform: translateY(3px);
}
.dialogue {
	border-left: 1.5rem solid transparent;
	border-right: 1.2rem solid transparent;
	border-top: 6rem solid rgb(253, 253, 227);
	position: absolute;
	margin-top: -14px;
	margin-left: 1rem;
	transform: rotate(-50deg);
}
#blacksmith-dwarf {
    margin-top: 13.5rem;
    width: 400px;
    height: 400px;
    position: fixed;
}
@keyframes speech-bubble {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0px);
    }
  }
/* GAME ARENA */
#arena {
    width: 100%;
    height: 100vh;
    background-image: url(imgs/meadow-battleground.jpg);
    background-size: cover;
    position: absolute;
    overflow: hidden;
    display: none;
}
.dim {
    filter: brightness(20%);
}
.darken {
    filter: brightness(80%);
}
#card-pile-imgs {
    margin-top: 3rem;
    width: 100%;
    height: 10%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
#bottom-arena-container {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}
#player-container {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
#player-div {
    bottom: 10.5rem;
    width: 30%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#player-img {
    width: 19rem;
    height: auto;
    z-index: 1;
    transform: scaleX(-1);
}
#player-orbs {
    position: absolute;
    width: 20rem;
    height: 5rem;
    left: 16rem;
    top: 9rem;
}
#fire-orb-img {
    width: 75px;
    margin-left: -125px;
    position: absolute;
}
#lightning-orb-img {
    width: 80px;
    margin-left: -75px;
    position: absolute;
}
#ice-orb-img {
    width: 70px;
    margin-top: 8px;
    margin-left: 70px;
    position: absolute;
}
#air-orb-img {
    width: 70px;
    margin-top: 8px;
    margin-left: 120px;
    position: absolute;
    z-index: 2;
}
#water-orb-img {
    width: 72px;
    margin-top: 4px;
    margin-left: 35px;
    position: absolute;
    z-index: 2;
}
#earth-orb-img {
    width: 72px;
    margin-left: -45px;
    margin-top: 8px;
    position: absolute;
    z-index: 2;
}
#player-health-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}
#player-block-img {
    position: absolute;
    width: 50px;
    text-align: center;
    display: none;
    margin-right: 9rem;
}
#player-block-number {
    position: absolute;
    font-size: 23px;
    text-align: center;
    width: 100px;
    display: none;
    color: white;
    margin-right: 9rem;
}
#player-health-numbers { 
    font-weight: bold;
    font-size: 32px;
    color: rgb(130, 1, 1);
}
#buffs, #debuffs {
    width: 15rem;
    height: 4rem;
    display: flex;
    justify-content: center;
}
#player-windswept-img, #player-frostbite-img, #player-tidal-imbuement-img {
    width: 60px;
    display: none;
}
#player-windswept-img:hover ~ #player-windswept-div {
    display: block;
}
#player-burn-img, #player-energize-img, #player-thorns-img, #player-regen-img, #player-blood-img {
    width: 60px;
    text-align: center;
    display: none;
}
#player-burn-number, #player-energize-number, #player-thorns-number, #player-regen-number, #player-blood-number {
    position: absolute;
    font-weight: bolder;
    margin-top: 15px;
    margin-left: 5px;
    font-size: 26px;
    color: black;
    text-align: center;
    width: 50px;
    display: none;
}
#player-burn-number {
    margin-top: 26px;
}
#player-energize-number {
    font-size: 24px;
}
#choose-new-card-div {
    position: absolute;
    width: 90%;
    height: 60vh;
    margin: 6rem;
    display: none;
}
/* ENEMY */
#enemy-container {
    width: 50%;
    height: 96%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.enemy-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s;
}
.enemy-action-div {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}
.enemy-health {
    font-weight: bold;
    font-size: 32px;
    color: rgb(255, 3, 3);
}
.ghost-number {
    font-size: 120px;
    color: white;
    font-weight: bolder;
    margin-left: 10px;
}

.enemy-action-img {
    width: 80px;
    display: none;
}
.enemy-burn-action-img {
    margin-top: -15px;
}
.enemy-action-number {
    position: absolute;
    width: 80px;
    margin-top: 1.2rem;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    display: none;
}
.enemy-attack-action-number {
    margin-top: -1rem;
}
.enemy-block-img {
    position: absolute;
    width: 50px;
    text-align: center;
    display: none;
    margin-right: 9rem;
}
.enemy-block-number {
    position: absolute;
    font-size: 23px;
    text-align: center;
    width: 100px;
    display: none;
    color: white;
    margin-right: 9rem;
}

.enemy-buffs, .enemy-debuffs {
    width: 15rem;
    height: 4rem;
    display: flex;
    justify-content: center;
}
.dragon-enemy-buffs {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-top: 105px;
}
.dragon-enemy-debuffs {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-left: 100px;
}

.unicorn-enemy-debuffs {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-left: 160px;
}
.unicorn-enemy-buffs {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-left: 160px;
    margin-top: 125px;
}
.druid-enemy-buffs {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-left: 115px;
    margin-top: 145px;
}
.druid-enemy-debuffs {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-left: 115px;
}
.enemy-windswept-img, .enemy-frostbite-img {
    width: 60px;
    display: none;
}
.enemy-thorns-img, .enemy-burn-img, .enemy-regen-img, .enemy-blood-img {
    width: 60px;
    text-align: center;
    display: none;
}
.enemy-thorns-number, .enemy-burn-number, .enemy-regen-number, .enemy-blood-number {
    position: absolute;
    font-weight: bolder;
    margin-top: 18px;
    margin-left: 5px;
    font-size: 26px;
    color: black;
    text-align: center;
    width: 50px;
    display: none;
}
.enemy-thorns-number {
    margin-top: 14px;
}
.enemy-burn-number {
    margin-top: -36px;
}
.enemy-img {
    width: 300px;
}
.enemy-img-centaur {
    transform: scaleX(-1);
}
.enemy-health-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .6s, opacity .6s linear;
}
/* UI */
#mana-bar-div {
    position: absolute;
    display: flex;
    left: 17rem;
}
#mana-bar-img {
    width: 100px;
}
#current-mana {
    position: absolute;
    top: 1rem;
    right: .15rem;
    width: 100px;    
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: black;
    z-index: 1;
}
#end-turn-button {
    position: absolute;
    width: 175px;
    height: 75px;
    left: 5rem;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 12px;
    box-shadow: 5px 5px 10px black;
    border: 2px solid #202221;
    background-color:#1f2e21;
    color: white;
    font-weight: bold;
    transition-duration: .1s;
}
#end-turn-button:hover {
    background-color: #37513f;
    transform: translateY(2px);
    cursor: pointer;
    box-shadow: 2px 2px 5px black;

}
#end-turn-button:active {
    padding-top: 3px;
    box-shadow: none;
    transform: translateY(0);
}
/* EXCLAMATION */
.exclamation-div {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-size: cover;
    background-position: 10%;
}
.exclamation-information-container {
    width: 80%;
    height: 60vh;
    background-color: black;
    margin: auto;
    margin-top: 210px;
}
.exclamation-title {
    text-align: center;
    font-size: 36px;
    color: white;
}
.exclamation-event-img {
    width: 30rem;
    height: 30rem;
    background-size: cover;
    margin-top: -13px;
    margin-left: 38px;
}
.exclamation-text-div {
    width: 60%;
    height: 70%;
    margin-left: 35rem;
    margin-top: -30.5rem;
    padding: 2rem;
    font-size: 30px;
    color: white;
}
.exclamation-button-div {
    width: 56%;
    height: 30%;
    margin-left: 37rem;
    margin-top: -50px;
    display: flex;
    flex-wrap: wrap;
}
.exclamation-button-div button {
    width: 100%;
    height: 45%;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    background-color:rgb(65, 74, 104);
    color: white;
    transition-duration: .1s;
}
.exclamation-button-div button:hover {
    background-color:rgb(95, 119, 150);
}
.exclamation-button-div button:active {
    padding-top: 6px;
} 
#all-cards-list {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    background-size: cover;
}
#all-cards-list {
    background-image: url("imgs/backpack3.jpg");
}
.all-cards-row {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-shrink: 1;
    width: 100%;
    height: 30%;
    max-width: 180px;
    
}
.all-cards-row div {
    display: inline;
    max-width: 180px;
    
}
/* CARDS */
#draw-pile-img {
    width: 80px;
    height: 90px;
    background-image: url("imgs/icons8-cards-64.png");
    background-size: cover;
}
#draw-pile-container, #discard-pile-container {
    left: 10rem;
    top: 1rem;
    width: 80%;
    height: 80vh;
    z-index: 3;
    position: absolute;
    flex-wrap: wrap;
    display: none;
}
#discard-pile-img {
    width: 80px;
    height: 90px;
    background-image: url("imgs/icons8-cards-96.png");
    background-size: cover;
}
#hand-container {
    position: absolute;
    display: flex;
    margin: auto;
    left: 0;
    right: 0;
    bottom: -7rem;
}
#opening-cards-container, #all-cards-reference-container, #new-cards-container {
    display: none;
}
.fire {
    background-image: linear-gradient(#b23d1a, #ba760f);
}
.lightning {
    background-image: linear-gradient(#221d54,#fafba5, #f0fb3e);
}
.ice {
    background-image: linear-gradient(#2f989c, #b9e8ea);
}
.air {
    background-image: linear-gradient(#86bfdf, white);
}
.water {
    background-image: linear-gradient(#0f5e9c, #74ccf4);
}
.earth {
    background-image: linear-gradient(#451b04, #81b14f);
}
.gold {
    background-image: linear-gradient(gold, black);
}

.fire-lightning {
    background-image: linear-gradient(#b23d1a, #fafba5);
}
.fire-lightning .card-text {
    background-color: #3a0000;
}
.fire-ice {
    background-image: linear-gradient(#2f989c, #ba760f);
}
.fire-ice .card-text {
    background-color: #3a0000;
}
.fire-air {
    background-image: linear-gradient(#86bfdf, #ba760f);
}
.fire-air .card-text {
    background-color: #3a0000
}
.fire-water {
    background-image: linear-gradient(#0f5e9c, #ba760f);
}
.fire-water .card-text {
    background-color: rgb(7, 40, 58);
}
.fire-earth {
    background-image: linear-gradient(#451b04, #ba760f);
}
.fire-earth .card-text {
    background-color: #3a0000;
}
.lightning-ice {
    background-image: linear-gradient(#221d54, #b9e8ea);
}
.lightning-ice .card-text {
    background-color: #3d3d58
}
.lightning-air {
    background-image: linear-gradient(#221d54, white);
}
.lightning-air .card-text {
    background-color: rgb(139, 165, 173)
}
.lightning-water {
    background-image: linear-gradient(#0f5e9c, #fafba5, #f0fb3e);
}
.lightning-water .card-text {
    background-color: rgb(7, 40, 58);
}
.lightning-earth {
    background-image: linear-gradient(#451b04, #fafba5, #f0fb3e);
}
.lightning-earth .card-text {
    background-color: #1f0c02
}
.ice-air {
    background-image: linear-gradient(#3fd0d4,white);
}
.ice-air .card-text {
    background-color: #629193
}
.ice-water {
    background-image: linear-gradient(#0f5e9c,#b9e8ea);
}
.ice-water .card-text {
    background-color: rgb(7, 40, 58)
}
.ice-earth {
    background-image: linear-gradient(#451b04, #b9e8ea);
}
.ice-earth .card-text {
    background-color: rgb(26, 111, 150)
}
.air-water {
    background-image: linear-gradient(#0f5e9c, white);
}
.air-water .card-text {
    background-color: rgb(139, 165, 173)
}
.air-earth {
    background-image: linear-gradient(#451b04, white);
}
.air-earth .card-text {
    background-color: rgb(139, 165, 173)
}
.water-earth {
    background-image: linear-gradient(#451b04, #74ccf4);
}
.water-earth .card-text {
    background-color: #1f0c02;
}

.fire .card-text {
    background-color: #3a0000;
}
.lightning .card-text {
    background-color: #3d3d58;
}
.ice .card-text {
    background-color: rgb(26, 111, 150);
}
.air .card-text {
    background-color: rgb(139, 165, 173)
}
.water .card-text {
    background-color: rgb(7, 40, 58);
}
.earth .card-text {
    background-color: #1f0c02
}
.card, .card-reference, .new-card {
    width: 180px;
    height: 250px;
    margin: auto;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    transition: .5s;
    display: none;
    position: relative;
    box-shadow: 5px 5px 10px black;
    z-index: 3;
}
.upgraded {
    border: 2px solid gold;
}
.card:hover, .new-card:hover {
    transform: translateY(-100px);
    transition-duration: .5s;
}
.card-clicked {
    transform: translateY(-100px);
    box-shadow: 0 0 10px 10px rgb(255, 255, 255);
}
.card-name {
    width: 100%;
    color: white;
    font-size: 14px;
    margin: 5px auto;
    padding-left: 17px;
}
.card-img {
    width: 90%;
    height: 42%;
    border: 1px solid black;
}
.card-mana-number {
    top: -2.7px;
    left: 3px;
    font-size: 18px;
    position: absolute;
    z-index: 1;
    color: white;
    font-weight: bold;
}
.card-mana-img {
    position: absolute;
    top: -5px;
    left: -5.5px;
    width: 26px;
    height: 26px;
}
.card-text, .new-card-text {
    color: white;
    width: 90%;
    height: 42%;
    font-size: 14px;
    padding: 10px 8px;
    border: 1px solid black;
}
.card-name-element-div {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
.card-element {
    width: 18px;
    height: 18px;
}
.card-element-2 {
    position: absolute;
    margin-left: 140px;
    width: 18px;
    height: 18px;
}
img[src="imgs/undefined-icon.png"] {
    display: none;
  }
.upgraded-text {
    color: rgb(186, 79, 248)
}
.upgrade-reference {
    position: relative;
    display: flex;
    visibility: collapse;
    margin-left: 6px;
    margin-top: 0px;
    z-index: 9;
}
.upgrade-reference:hover {
    transform: translateY(0px);
}