* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
/* HEADER */
#board-header {
    position: fixed;
    width: 100%;
    height: 5vh;
    background-color: rgb(63, 92, 100);
    display: none;
    z-index: 10;
    color: white;
}
#board-header div {
    margin: auto;
}
#top-bar-health {
    font-size: 20px;
    cursor: default;
}
#relic-container {
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#top-bar-aether {
    font-size: 20px;
    display: flex;
    align-items: center;
    cursor: default;
}
.relic-img {
    width: 48px;
    height: 48px;
    margin-top: -2px;
}
#beginning-screen-container {
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background-image: url("imgs/start-screen2.jpeg");
    opacity: .7;
    color: white;
    font-weight: bolder;
    background-size: cover;
}
#beginning-screen-container h1 {
    font-size: 90px;
    cursor: default;
    font-family: fantasy;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}
#start-screen-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("imgs/terra-nova.jpeg");
    background-size: cover;
    color: white;
    font-weight: bolder;
    overflow: hidden;
    font-family: fantasy;
}
#start-screen-container h1 {
    margin: 4rem;
    font-size: 120px;
    text-decoration: dashed;
    cursor: default;
    font-family: fantasy;
    text-shadow: 7px 7px 12px rgb(34, 34, 34);
}
#start-screen-container h3 {
    margin: 3rem;
    cursor: pointer;
    font-size: 60px;
    font-family: fantasy;
    text-shadow: 5px 5px 12px rgb(36, 36, 36);
}
#start-game:hover {
    color:rgb(45, 120, 155);
}
#tutorial:hover {
    color: rgb(253, 253, 253);
}
#options:hover {
    color: #451b04;
}
#quit-game:hover {
    color: #74ccf4;
}
#start-game:active, #tutorial:active, #options:active, #quit-game:active {
    transform: translateY(2px);
}
#start-screen-container div {
    width: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow, .arrow-reverse {
    width: 150px;
    display: none;
}
.arrow-reverse {
    transform: scaleX(-1);
}
#difficulty-container {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 19;
}
#difficulty-screen {
    width: 75%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid rgb(62, 71, 61);
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
    background-image: linear-gradient(135deg, #ecf4ff 0%, #c3cfe2 100%);
}
#difficulty-screen div {
    width: 80%;
    margin-top: 1rem;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    background-image: linear-gradient(135deg, #cecfcf 0%, #90a1bb 100%);
}
#difficulty-screen p {
    font-size: 1.5rem;
    margin-top: .9rem;
    text-shadow: 2px 2px 6px rgb(180, 180, 180);
    font-family: monospace;
}
#difficulty-screen h1 {
    font-size: 3rem;
    margin-top: 1.5rem;
    font-family: fantasy;
    text-shadow: 2px 2px 5px rgb(100, 100, 100);
}
#difficulty-screen button {
    width: 400px;
    padding: 15px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 12px rgb(180, 180, 180);
    border-radius: 12px;
    box-shadow: 5px 5px 10px black;
    border: 2px solid #202221;
    font-weight: bold;
    transition-duration: .1s;
}
#easy {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
#normal {
    background-image: linear-gradient(135deg, #649ff7 0%, #223e9c 100%);
}
#hard {
    background-image: linear-gradient(135deg, #9fa817b6,#fafba5);
}
#difficulty-screen button:hover {
    transform: translateY(2px);
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}
#difficulty-screen button:active {
    transform: translateY(5px);
}
#options-container {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 20;
}
#options-screen {
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid rgb(62, 71, 61);
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
    background-image: linear-gradient(135deg, #b6bcc4 0%, #c3cfe2 100%);
}
#options-screen h1 {
    font-size: 3rem;
    margin-top: 1rem;
    font-family: fantasy;
    text-shadow: 2px 2px 5px rgb(100, 100, 100);
}
#options-screen button {
    margin-top: 12rem;
    width: 400px;
    padding: 15px;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 12px;
    box-shadow: 5px 5px 10px black;
    border: 2px solid #202221;
    background-image: linear-gradient(135deg, #bebebe 0%, #dfe2e6 100%);
    font-weight: bold;
    transition-duration: .1s;
}
#options-screen button:hover {
    background-color: #37513f;
    transform: translateY(2px);
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}
#options-screen button:active {
    transform: translateY(5px);
}
#options-screen h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: fantasy;
    text-shadow: 2px 2px 5px rgb(100, 100, 100);
}
#options-screen input {
    width: 40%;
}
#tutorial-container {
    display: none;
    width: 100%;
    height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: default;
    z-index: 14;
}
#tutorial-screen {
    width: 90%;
    height: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom right,#4c5a80,#7883a1);
    border: 4px solid rgb(62, 71, 61);
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
    text-shadow: 5px 5px 5px rgb(100, 100, 100);
    overflow-x: hidden;
    overflow-y: scroll;
}
#tutorial-exit {
    position: fixed;
    font-size: 3rem;
    right: 7%;
    opacity: 0.4;
}
#tutorial-exit:hover {
    opacity: 1;
    cursor: pointer;
}
#tutorial-exit:active {
    transform: translateY(2px);
}
.tutorial-icon-div {
    width: 90%;
    background-image: linear-gradient(#b0d1b1, #748a74);
    display: flex;
    align-items: center;
    margin: .5rem;
    box-shadow: 5px 5px 10px black;
    font-family: fantasy;
}
.tutorial-icon-div p, .tutorial-icon-div img {
    margin-left: 1rem;
}
.tutorial-card-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding-bottom: 4rem;
}
.tutorial-card-div div {
    margin-top: 1rem;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    background-image: linear-gradient(135deg, #729191 0%, #90a1bb 100%);
}
.tutorial-card-div div {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
.tutorial-card-div p {
    width: 90%;
    margin-top: .5rem;
    font-family: monospace;
}
.tutorial-card-types {
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tutorial-h-color {
    color: #e7dfd2;
    font-family: fantasy;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}
.tutorial-h2-div {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tutorial-h2-div p {
    color: #FEF3E2;
    text-align: center;
    margin: 2rem auto;
    font-size: 2rem;
}
#tutorial-screen h1 {
    font-size: 5rem;
    margin-top: 2rem;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}
#tutorial-screen h2 {
    margin-top: 3rem;
    font-size: 4rem;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}
#tutorial-screen h3 {
    margin-top: 2rem;
    font-size: 3rem;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}
#tutorial-screen h4 {
    font-size: 2.7rem;
    text-shadow: 5px 5px 10px rgb(92, 92, 92);

}
.tutorial-icon-div p, .tutorial-card-div p {
    color: #FEF3E2;
    text-align: center;
    font-size: 1.7rem;
}
.tutorial-icon {
    width: 70px;
}

#death-screen-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 12;
}
#death-screen {
    width: 75%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#death-screen h1 {
    color: #3a0000;
    padding-bottom: 40px;
}
#death-screen div {
    width: 300px;
}
#death-screen p, #death-screen span {
    margin: 15px;
    font-size: 20px;
    color: white;
}
#death-screen p {
    width: 230px;
    text-align: left;
}
#death-screen span {
    text-align: right;
}
#death-screen button {
    margin-top: 50px;
    width: 400px;
    padding: 15px;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 12px;
    box-shadow: 5px 5px 10px black;
    border: 2px solid #202221;
    background-color:#1f2e21;
    color: white;
    font-weight: bold;
    transition-duration: .1s;
}
#death-screen button:hover {
    background-color: #37513f;
    transform: translateY(2px);
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}
/* MAP */
#map {
    width: 100%;
    height: 200vh;
    background-image: url("imgs/fae-forest-map.jpeg");
    background-size: 100%;
    display: none;
}
.locations {
    display: flex;
    width: 100%;
    height: 17vh;
}
.location-tiles {
    border: 3px solid black;
    width: 3rem;
    height: 3rem;
    margin: auto;
    background-color:antiquewhite;
}
#location1-tiles1 {
    margin-left: 18%;
}
#location1-tiles2 {
    margin-left: 35%;
}
#location2-tiles2 {
    margin-right: 30%;
}
#location2-tiles3 {
    margin-right: 10%;
}
#location3-tiles1 {
    margin-left: 9rem;
}
#location3-tiles2 {
    margin-left: 9rem;
}
#location4-tiles3 {
    margin-left: 30%;
}
#location5-tiles1 {
    margin-left: 20%;
}
#location5-tiles2 {
    margin-right: 13%;
}
#location5-tiles3 {
    margin-right: 20%;
}
#location4 {
    width: 90%;
    margin: auto;
}
#location7 {
    width: 60%;
    margin: auto;
}
#location11 {
    height: 26vh
}
/* INDICATE WHERE YOU CAN GO NEXT */
@keyframes glow {
    from {
        box-shadow: 0 0 10px -10px red;
    }
    to {
        box-shadow: 0 0 10px 10px red;
    }
}
@keyframes fire-glow {
    from {
        box-shadow: 0 0 -50px -50px rgb(255, 113, 31);
    }
    to {
        box-shadow: 0 0 50px 50px rgb(255, 51, 0);
    }
}
@keyframes lightning-glow {
    from {
        box-shadow: 0 0 -50px -50px #cbd442;
    }
    to {
        box-shadow: 0 0 50px 50px #cbd442;
    }
}
@keyframes ice-glow {
    from {
        box-shadow: 0 0 -50px -50px rgb(26, 111, 150);
    }
    to {
        box-shadow: 0 0 50px 50px rgb(26, 111, 150);
    }
}
@keyframes air-glow {
    from {
        box-shadow: 0 0 -50px -50px rgb(178, 246, 248);
    }
    to {
        box-shadow: 0 0 50px 50px rgb(178, 246, 248);
    }
}
@keyframes water-glow {
    from {
        box-shadow: 0 0 -50px -50px #0f5e9c;
    }
    to {
        box-shadow: 0 0 50px 50px #0f5e9c;
    }
}
@keyframes earth-glow {
    from {
        box-shadow: 0 0 -50px -50px #451b04;
    }
    to {
        box-shadow: 0 0 50px 50px #451b04;
    }
}
@keyframes upgraded {
    from {
        box-shadow: 0 0 15px -15px rgb(186, 79, 248);
    }
    to {
        box-shadow: 0 0 15px 15px rgb(121, 1, 190);
    }
}
.glow {
    animation: glow 1s infinite alternate;
}
.fire-glow {
    animation: fire-glow 2s infinite alternate;
}
.lightning-glow {
    animation: lightning-glow 2s infinite alternate;
}
.ice-glow {
    animation: ice-glow 2s infinite alternate;
}
.air-glow {
    animation: air-glow 2s infinite alternate;
}
.water-glow {
    animation: water-glow 2s infinite alternate;
}
.earth-glow {
    animation: earth-glow 2s infinite alternate;
}
.upgraded {
    animation: upgraded 2s infinite alternate;
}

/* IMG PLACEMENT images by icons8.com*/
.normal-monster-img {
    margin-left: -3px;
    margin-top: -3px;
}
.hard-monster-img {
    width: 48px;
    margin-left: -3px;
    margin-top: -3px;
}
.oasis-img {
    width: 45px;
    margin-left: -3px;
    margin-top: -3px;
}
.blacksmith-img {
    width: 43px;
    margin-left: -1px;
    margin-top: -1px;
}
.gold-img {
    width: 40px;
    margin-left: 1px;
    margin-top: 1px;
}
.merchant-img {
    width: 45px;
    margin-left: -.093rem;
}
.treasure-img {
    width: 42px;
}
.exclamation-img {
    width: 40px;
    margin-top: .2px;
    margin-left: 1.2px;
}
.boss-monster-img {
    width: 48px;
    margin-left: -3px;
    margin-top: -3px;
}
/*SHOP SECTION*/
#shop-container {
    width: 100%;
    height: 100vh;
    background-image: url("imgs/shopkeeper-background.jpeg");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: none;
}
#cards-and-relics-container {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    width: 100%;
    height: 65%;
}
#shop-cards-div {
    width: 65rem;
    display: flex;
    flex-wrap: wrap;
}
#shop-relic-container {
    margin-top: -3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 40rem;
    height: 20rem;
}
.shop-relic-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.shop-relic-img {
    width: 120px;
    height: 120px;
}
.img-text, .player-img-text, .shop-relic-img-text, .relic-img-text {
    position: absolute;
    margin-top: 4.7rem;
    margin-left: -11rem;
    display: none;
    width: 23rem;
    height: 9rem;
    background-image: linear-gradient(rgb(140, 161, 141), rgb(40, 56, 36));
    z-index: 12;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px double rgb(81, 81, 81);
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    font-family: monospace;
}
.shop-relic-img-text {
    margin-top: 10rem;
}
.player-frostbite-img:hover + div {
    display: flex;
}
.player-windswept-img:hover + div {
    display: flex;
}
.img-text-h4, .debuff-img-text-h4 {
    font-size: 1.3rem;
}
.img-text-p, .debuff-img-text-p {
    margin: .8rem .5rem ;
    font-size: 1.2rem;
}
#leave-shop-button {
    width: 25rem;
    height: 6rem;
    border-radius: 10%;
    margin-top: 7rem;
    margin-left: 4rem;
    border: 5px double rgb(127, 128, 131);
    background-color:rgb(48, 48, 49);
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition-duration: .1s;
}
.shop-cards-cost-div {
    width: 20%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.shop-aether {
    width: 5rem;;
    height: 5rem;
    margin-top: -.8em;
}
.shop-aether-cost {
    color: white;
    font-weight: bolder;
    font-size: 1.8rem;
    margin-top: -.5rem;
    text-align: center;
}
#shopkeeper {
    margin-top: -15rem;
    margin-left: 53rem;
    width: 250px;
    height: 250px;
}
/*BLACKSMITH SECTION*/
#blacksmith-container {
    width: 100%;
    height: 100vh;
    background-image: url("imgs/blacksmith-background2.jpg");
    background-size: cover;
    background-position: 90%;
    position: fixed;
    overflow: scroll;
    font-family: monospace;
    display: none;
}
#blacksmith-cards-list {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 60px;
    flex-wrap: wrap;
    align-items: start;
    justify-content: flex-start;
}
.blacksmith-upgrade-pair {
    width: 10%;
}
#blacksmith-dwarf-div {
    width: 28rem;
    position: absolute;
    margin-left: 890px;
    margin-top: 280px;
}
#blacksmith-text {
    position: absolute;
    padding: 1.5rem;
    background-color: rgb(253, 253, 227);
    font-size: 30px;
    box-shadow: 0 0 10px 10px rgb(217, 113, 243);
    animation: speech-bubble 3s ease-in-out infinite;
    border-radius: 15px;
    z-index: 8;
}
#blacksmith-text:hover {
    background-color: rgb(249, 253, 213);
    animation: speech-bubble 3s;
}
#blacksmith-text:hover .dialogue {
    border-top: 6rem solid rgb(249, 253, 213);
}
#blacksmith-text:active {
    background-color: rgb(249, 253, 213);
    transform: translateY(3px);
}
.dialogue {
	border-left: 1.5rem solid transparent;
	border-right: 1.2rem solid transparent;
	border-top: 6rem solid rgb(253, 253, 227);
	position: absolute;
	margin-top: -14px;
	margin-left: 1rem;
	transform: rotate(-50deg);
}
#blacksmith-dwarf {
    margin-top: 13.5rem;
    width: 400px;
    height: 400px;
    position: fixed;
}
@keyframes speech-bubble {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0px);
    }
  }
/* GAME ARENA */
#arena {
    width: 100%;
    height: 100vh;
    background-image: url(imgs/fae-forest-arena2.jpeg);
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    position: fixed;
    overflow: hidden;
    display: none;
}
.dim {
    filter: brightness(20%);
}
.darken {
    filter: brightness(80%);
}
#card-pile-imgs {
    margin-top: 3rem;
    width: 100%;
    height: 10%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
#bottom-arena-container {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}
#player-container {
    width: 30%;
    height: 102%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
#player-div {
    bottom: 9.8rem;
    width: 30%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#player-img {
    width: 19rem;
    height: auto;
    z-index: 1;
    transform: scaleX(-1);
}
#player-orbs {
    position: absolute;
    width: 20rem;
    height: 5rem;
    left: 16rem;
    top: 9.5rem;
}
#fire-orb-img {
    width: 85px;
    margin-left: -130px;
    position: absolute;
    border-radius: 50%;
    z-index: 2;
}
#lightning-orb-img {
    width: 90px;
    margin-left: -85px;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
#ice-orb-img {
    width: 80px;
    margin-top: 8px;
    margin-left: 80px;
    position: absolute;
    border-radius: 50%;
    z-index: 0;
}
#air-orb-img {
    width: 80px;
    margin-top: 8px;
    margin-left: 130px;
    position: absolute;
    border-radius: 50%;
    z-index: 2;
}
#water-orb-img {
    width: 82px;
    margin-top: 4px;
    margin-left: 35px;
    position: absolute;
    border-radius: 50%;
    z-index: 3;
}
#earth-orb-img {
    width: 82px;
    margin-left: -45px;
    margin-top: 8px;
    position: absolute;
    border-radius: 50%;
    z-index: 3;
}
#player-health-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}
#player-block-img {
    position: absolute;
    width: 50px;
    text-align: center;
    display: none;
    margin-right: 10.7rem;
}
#player-block-number {
    position: absolute;
    font-size: 23px;
    text-align: center;
    width: 100px;
    display: none;
    color: white;
    margin-right: 10.7rem;
    cursor: default;
}
#player-health-numbers { 
    font-weight: bold;
    font-size: 39px;
    font-family: fantasy;
    color: rgb(130, 1, 1);
}
#buffs, #debuffs {
    width: 15rem;
    height: 4rem;
    display: flex;
    justify-content: center;
}
#player-windswept-img, #player-frostbite-img, #player-tidal-imbuement-img {
    width: 60px;
    display: none;
}
#player-burn-img, #player-energize-img, #player-thorns-img, #player-regen-img, #player-blood-img {
    width: 60px;
    text-align: center;
    display: none;
}
#player-burn-number, #player-energize-number, #player-thorns-number, #player-regen-number, #player-blood-number {
    position: absolute;
    font-weight: bolder;
    margin-top: 15px;
    margin-left: 5px;
    font-size: 26px;
    color: black;
    text-align: center;
    width: 50px;
    display: none;
}
#player-burn-number {
    margin-top: 26px;
}
#player-energize-number {
    font-size: 24px;
}
#choose-new-card-div {
    position: absolute;
    width: 90%;
    height: 60vh;
    margin: 6rem;
    display: none;
}
/* ENEMY */
#enemy-container {
    width: 35%;
    height: 93%;
    padding-right: 17rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
@keyframes slideInRight {
    0% {
        transform: translateX(300%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInTop {
    0% {
        transform: translateY(-300%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes stealthAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes grow {
    0% {
        width: 0px;
    }
    100% {
        width: 290px;
    }
}
@keyframes burn {
    from {
        text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .4em #ffae34, .2em -.3em .3em #ec760c, -.2em -.4em .4em #cd4606, .1em -.5em .7em #973716, .1em -.7em .7em #451b0e;
    }
    45% {
        text-shadow: .1em -.2em .5em #fefcc9, .15em 0 .4em #feec85, -.1em -.25em .5em #ffae34, .15em -.45em .5em #ec760c, -.1em -.5em .6em #cd4606, 0 -.8em .6em #973716, .2em -1em .8em #451b0e;
    }
    70% {
        text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .6em #ffae34, .2em -.3em .4em #ec760c, -.2em -.4em .7em #cd4606, .1em -.5em .7em #973716, .1em -.7em .9em #451b0e;
    }
    to {
        text-shadow: -.1em -.2em .6em #fefcc9, -.15em 0 .6em #feec85, .1em -.25em .6em #ffae34, -.15em -.45em .5em #ec760c, .1em -.5em .6em #cd4606, 0 -.8em .6em #973716, -.2em -1em .8em #451b0e;
    }
}
.enemy-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.enemy-action-div {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    z-index: 4;
}
.enemy-health {
    font-weight: bold;
    font-size: 39px;
    font-family: fantasy;
    color: rgb(202, 0, 0);
    cursor: default;
}
.ghost-number {
    font-size: 120px;
    color: black;
    font-weight: bolder;
    margin-left: 10px;
}
.enemy-action-img {
    width: 80px;
    display: none;
}
.enemy-burn-action-img {
    margin-top: -15px;
}
.enemy-action-number {
    position: absolute;
    width: 80px;
    margin-top: 1.2rem;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    display: none;
}
.enemy-attack-action-number {
    margin-top: -1rem;
    color: white;
}
.enemy-block-action-number {
    color: white;
}
.enemy-block-img {
    position: absolute;
    width: 50px;
    text-align: center;
    display: none;
    margin-right: 9rem;
}
.enemy-block-number {
    position: absolute;
    font-size: 23px;
    text-align: center;
    width: 100px;
    display: none;
    color: white;
    margin-right: 9rem;
    cursor: default;
}
.enemy-buffs, .enemy-debuffs {
    width: 15rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    cursor: default;
}
.dragon-enemy-buffs {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-top: 105px;
}
.enemy-windswept-img, .enemy-frostbite-img {
    width: 60px;
    display: none;
}
.enemy-thorns-img, .enemy-burn-img, .enemy-regen-img, .enemy-blood-img {
    width: 60px;
    text-align: center;
    display: none;
}
.enemy-thorns-number, .enemy-burn-number, .enemy-regen-number, .enemy-blood-number {
    position: absolute;
    font-weight: bolder;
    margin-top: 18px;
    margin-left: 5px;
    font-size: 26px;
    color: black;
    text-align: center;
    width: 50px;
    display: none;
}
.enemy-thorns-number {
    margin-top: 14px;
}
.enemy-burn-number {
    margin-top: -36px;
}
.enemy-img {
    width: 290px;
}
.enemy-img-flip {
    transform: scaleX(-1);
}
.enemy-health-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .6s, opacity .6s linear;
}
/* UI */
#mana-bar-div {
    position: absolute;
    display: flex;
    left: 17rem;
    z-index: 5;
}
#mana-bar-img {
    width: 100px;
}
#current-mana {
    position: absolute;
    top: 1rem;
    right: .15rem;
    width: 100px;    
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: black;
    cursor:default;
    z-index: 1;
}
#end-turn-button {
    position: absolute;
    width: 175px;
    height: 75px;
    left: 5rem;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 12px;
    box-shadow: 5px 5px 10px black;
    border: 2px solid #202221;
    background-color:#1f2e21;
    color: white;
    font-weight: bold;
    font-family: fantasy;
    transition-duration: .1s;
    z-index: 5;
}
#end-turn-button:hover {
    background-color: #37513f;
    transform: translateY(2px);
    cursor: pointer;
    box-shadow: 2px 2px 5px black;

}
#end-turn-button:active {
    padding-top: 3px;
    box-shadow: none;
    transform: translateY(0);
}
/* EXCLAMATION */
.exclamation-div {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: 10%;
    font-family: fantasy;
    color: white;
    cursor: default;
}
.exclamation-information-container {
    width: 80%;
    min-height: 65vh;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(8, 8, 8);
    border: 3px solid rgb(24, 24, 24);
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
    text-shadow: 1px 1px 5px rgb(139, 139, 139);
    overflow: auto;
}
.exclamation-title {
    text-align: center;
    font-size: 2.2vw;
    padding-top: .5rem;
    padding-bottom: 1rem;
}
.exclamation-event-img {
    width: 32%;
    margin-left: 38px;
}
.exclamation-event-img img {
    max-width: 100%;
    height: auto;
}
.exclamation-text-button-div {
    width: 60%;
    height: 87%;
    color: white;
}
.exclamation-text-div {
    width: 100%;
    height: 60%;
    padding-left: 2rem;
    font-size: 1.5vw;
}
.exclamation-button-div {
    max-width: 100%;
    min-width: 10%;
    height: 15vh;
    margin-top: 1.5rem;
    margin-left: 1.7rem;
    display: flex;
    flex-wrap: wrap;
}
.exclamation-button-div button {
    width: 100%;
    height: 50%;
    font-weight: bold;
    font-size: 1.1vw;
    text-align: left;
    padding-left: 20px;
    background-color:rgb(65, 74, 104);
    color: white;
    transition-duration: .1s;
    box-shadow: 2px 2px 15px rgb(51, 51, 51);
    cursor: pointer;
}
.exclamation-button-div button:hover {
    background-color:rgb(95, 119, 150);
}
.exclamation-button-div button:active {
    padding-top: 6px;
} 
#all-cards-list {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    overflow: hidden;
    background-image: url("imgs/backpack3.jpg");
    background-size: cover;
}
/* TREASURE */
#treasure-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-image: url("imgs/water-earth-treasure2.jpeg");
    background-size: cover;
    color: white;
    font-family: fantasy;
}
.treasure-element-div {
    width: 40%;
    height: 50%;
    background-color: #1f2e21;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 3px solid rgb(62, 71, 61);
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
    background-image: linear-gradient(#1b1b1b 0%, #183746 100%);
    opacity: .9;
    transition: .3s;
}
#treasure-container h1 {
    font-size: 9rem;
    cursor: default;
    text-shadow: 4px 4px 12px rgb(34, 34, 34);
}
#treasure-container h2 {
    font-size: 3rem;
    margin-top: 2rem;
    cursor: default;
    text-shadow: 4px 4px 12px rgb(34, 34, 34);
}
.treasure-element-div:hover {
    opacity: 1;
}
.treasure-choice-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.treasure-choices {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.treasure-choices button {
    width: 90%;
    padding: 20px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 12px rgb(43, 43, 43);
    border-radius: 12px;
    box-shadow: 5px 5px 10px black;
    border: 2px solid #202221;
    font-weight: bold;
    transition-duration: .1s;
    background-image: linear-gradient( #3a3a3b 0%, #17171a 100%);
}
.treasure-choices button:hover {
    transform: translateY(2px);
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}
.treasure-choices button:active {
    transform: translateY(4px);
}
.treasure-choices p {
    padding: 10px;
    font-size: 2.5em;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 2px 2px 12px rgb(20, 20, 20);
    border-radius: 12px;
    transition-duration: .1s;
}
/* EMPOWER */
#empower-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-image: url("imgs/hallowwood-portal.jpeg");
    background-size: cover;
    color: white;
    font-family: fantasy;
}
#empower-container h1 {
    font-size: 9rem;
    padding-top: 1rem;
    cursor: default;
    text-shadow: 4px 4px 12px rgb(34, 34, 34);
}
#empower-container h2 {
    font-size: 3rem;
    margin-top: 2rem;
    cursor: default;
    text-shadow: 4px 4px 12px rgb(34, 34, 34);
}
.empower-element-div {
    width: 32%;
    height: 34%;
    background-color: #1f2e21;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 3px solid rgb(62, 71, 61);
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
    background-image: linear-gradient(#1b1b1b 0%, #183746 100%);
    opacity: .9;
    transition: .3s;
}
.empower-element-div:hover {
    opacity: 1;
}
.empower-choice-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.empower-choices {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.empower-choices button {
    width: 90%;
    padding: 10px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 12px rgb(43, 43, 43);
    border-radius: 12px;
    box-shadow: 5px 5px 10px black;
    border: 2px solid #202221;
    font-weight: bold;
    transition-duration: .1s;
    background-image: linear-gradient( #3a3a3b 0%, #17171a 100%);
}
.empower-choices button:hover {
    transform: translateY(2px);
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}
.empower-choices button:active {
    transform: translateY(4px);
}
.empower-choices p {
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 2px 2px 12px rgb(20, 20, 20);
    border-radius: 12px;
    transition-duration: .1s;
}
/* CARDS */
#draw-pile-img {
    width: 80px;
    height: 90px;
    background-image: url("imgs/icons8-cards-64.png");
    background-size: cover;
}
#draw-pile-container, #discard-pile-container {
    left: 10rem;
    top: 1rem;
    width: 80%;
    height: 80vh;
    z-index: 3;
    position: absolute;
    flex-wrap: wrap;
    display: none;
}
#discard-pile-img {
    width: 80px;
    height: 90px;
    background-image: url("imgs/icons8-cards-96.png");
    background-size: cover;
}
#hand-container {
    position: absolute;
    display: flex;
    margin: auto;
    left: 0;
    right: 0;
    bottom: -7rem;
}
#opening-cards-container, #all-cards-reference-container, #potion-cards-container {
    display: none;
}
.fire {
    background-image: linear-gradient(#b23d1a, #ba760f);
}
.lightning {
    background-image: linear-gradient(#221d54,#fafba5, #f0fb3e);
}
.ice {
    background-image: linear-gradient(#2f989c, #b9e8ea);
}
.air {
    background-image: linear-gradient(#86bfdf, white);
}
.water {
    background-image: linear-gradient(#0f5e9c, #74ccf4);
}
.earth {
    background-image: linear-gradient(#451b04, #81b14f);
}
.avarice {
    background-image: linear-gradient(rgb(122, 67, 133), rgb(49, 0, 61));
}
.celestial {
    background-image: linear-gradient(rgb(23, 112, 202), rgb(46, 40, 115));
}

.fire-lightning {
    background-image: linear-gradient(#221d54, #ba760f);
}
.fire-lightning .card-text {
    background-color: #3a0000;
}
.fire-ice {
    background-image: linear-gradient(#2f989c, #ba760f);
}
.fire-ice .card-text {
    background-color: #3a0000;
}
.fire-air {
    background-image: linear-gradient(#86bfdf, #ba760f);
}
.fire-air .card-text {
    background-color: #3a0000
}
.fire-water {
    background-image: linear-gradient(#0f5e9c, #ba760f);
}
.fire-water .card-text {
    background-color: rgb(7, 40, 58);
}
.fire-earth {
    background-image: linear-gradient(#451b04, #ba760f);
}
.fire-earth .card-text {
    background-color: #3a0000;
}
.lightning-ice {
    background-image: linear-gradient(#221d54, #b9e8ea);
}
.lightning-ice .card-text {
    background-color: #3d3d58
}
.lightning-air {
    background-image: linear-gradient(#221d54, white);
}
.lightning-air .card-text {
    background-color: rgb(139, 165, 173)
}
.lightning-water {
    background-image: linear-gradient(#0f5e9c, #fafba5, #f0fb3e);
}
.lightning-water .card-text {
    background-color: rgb(7, 40, 58);
}
.lightning-earth {
    background-image: linear-gradient(#451b04, #fafba5, #f0fb3e);
}
.lightning-earth .card-text {
    background-color: #1f0c02
}
.ice-air {
    background-image: linear-gradient(#3fd0d4,white);
}
.ice-air .card-text {
    background-color: #629193
}
.ice-water {
    background-image: linear-gradient(#0f5e9c,#b9e8ea);
}
.ice-water .card-text {
    background-color: rgb(7, 40, 58)
}
.ice-earth {
    background-image: linear-gradient(#2f989c, #451b04);
}
.ice-earth .card-text {
    background-color: rgb(26, 111, 150)
}
.air-water {
    background-image: linear-gradient(#0f5e9c, white);
}
.air-water .card-text {
    background-color: rgb(139, 165, 173)
}
.air-earth {
    background-image: linear-gradient(#451b04, white);
}
.air-earth .card-text {
    background-color: rgb(139, 165, 173)
}
.water-earth {
    background-image: linear-gradient(#451b04, #74ccf4);
}
.water-earth .card-text {
    background-color: #1f0c02;
}
.fire .card-text {
    background-color: #3a0000;
}
.lightning .card-text {
    background-color: #3d3d58;
}
.ice .card-text {
    background-color: rgb(26, 111, 150);
}
.air .card-text {
    background-color: rgb(139, 165, 173);
}
.water .card-text {
    background-color: rgb(7, 40, 58);
}
.earth .card-text {
    background-color: #1f0c02;
}
.avarice .card-text {
    background-color: rgb(35, 0, 43);
}
.celestial .card-text {
    background-color: rgb(7, 8, 26);
}
.card, .card-reference, .upgrade-reference {
    width: 180px;
    height: 250px;
    margin: auto;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    transition: .5s;
    display: none;
    position: relative;
    cursor: default;
    box-shadow: 5px 5px 10px black;
    z-index: 3;
}
.upgraded {
    border: 2px solid gold;
}
.card:hover {
    transform: translateY(-100px);
    transition-duration: .5s;
    z-index: 6;
}
.card-clicked {
    transform: translateY(-100px);
    box-shadow: 0 0 10px 10px rgb(255, 255, 255);
}
.card-name {
    width: 100%;
    color: white;
    font-size: 13px;
    margin: 5px auto;
    padding-left: 17px;
    font-family: fantasy;
}
.card-img {
    width: 90%;
    height: 42%;
    border: 1px solid black;
}
.card-mana-number {
    top: -2.7px;
    left: 2.7px;
    font-size: 18px;
    position: absolute;
    z-index: 1;
    color: white;
    font-weight: bold;
}
.card-mana-img {
    position: absolute;
    top: -5px;
    left: -5.5px;
    width: 26px;
    height: 26px;
}
.card-text {
    color: white;
    width: 90%;
    height: 42%;
    font-size: .65vw;
    font-weight: 600;
    padding: 10px 8px;
    border: 1px solid black;
    font-family: fantasy;
}
.card-name-element-div {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
.card-element {
    width: 18px;
    height: 18px;
}
.card-element-2 {
    position: absolute;
    margin-left: 140px;
    width: 18px;
    height: 18px;
}
img[src="imgs/undefined-icon.png"] {
    display: none;
  }
.upgraded-text {
    color: rgb(186, 79, 248)
}
.upgrade-reference {
    position: relative;
    display: flex;
    visibility: collapse;
    margin-left: 6px;
    margin-top: 0px;
    z-index: 9;
}
.upgrade-reference:hover {
    transform: translateY(0px);
}